@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&family=M+PLUS+2:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moul&family=Poppins:wght@400;500;800&display=swap');
:root {
  --primary-color: black;
  --primary-dark: rgb(38, 81, 81);
  --secondary-color: rgb(192,192,192);
  --secondary-dark: rgb(37, 37, 37);
  --overlay: rgba(0, 0, 0, 0.7);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  /* line-height: 1.2rem; */
}
code {
  font-family: 'Poppins', sans-serif,
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.button {
  padding: 20px;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 7px;
  cursor: pointer;
}
.button:hover {
  background: var(--primary-dark);
  border: 1px solid var(--primary-dark);
}
.line {
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--primary-color);
}
