.footer {
    width: 100%;
    background-color: #000;
  }
  .footer .container {
    max-width: 1240px;
    margin: auto;
    text-align: center;
  }
  .footer ul {
    display: flex;
    justify-content: center;
  }
  .footer li {
    padding: 1rem;
  }
  .footer li a:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid var(--secondary-color);
  }
  .bottom {
    text-align: center;
    padding-top: 1rem;
    color: #fff;
  }
  .contact-items {
      padding: 0rem;
  }
  /* .line {
    margin-bottom: 1rem;
  } */
  .footer p {
      color: #fff;
      font-size: x-small;
      padding-bottom: 1.4rem;
      /* margin-top: 0.2rem; */
  }
  